/* MOBILE */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

@media screen and (min-width: 290px) {
  :root {
    font-size: 17px;
  }
}

@media screen and (min-width: 305px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) {
  :root {
    font-size: 19px;
  }
}

@media screen and (min-width: 335px) {
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 350px) {
  :root {
    font-size: 21px;
  }
}

@media screen and (min-width: 365px) {
  :root {
    font-size: 22px;
  }
}

@media screen and (min-width: 380px) {
  :root {
    font-size: 23px;
  }
}

@media screen and (min-width: 405px) {
  :root {
    font-size: 24px;
  }
}

@media screen and (min-width: 420px) {
  :root {
    font-size: 25px;
  }
}

@media screen and (min-width: 435px) {
  :root {
    font-size: 26px;
  }
}

@media screen and (min-width: 450px) {
  :root {
    font-size: 27px;
  }
}

@media screen and (min-width: 465px) {
  :root {
    font-size: 28px;
  }
}

@media screen and (min-width: 480px) {
  :root {
    font-size: 29px;
  }

  .gallery-img {
    height: 46vh;
  }
}

@media screen and (min-width: 495px) {
  :root {
    font-size: 30px;
  }
}

@media screen and (min-width: 510px) {
  :root {
    font-size: 31px;
  }
}

@media screen and (min-width: 525px) {
  :root {
    font-size: 32px;
  }
}

@media screen and (min-width: 540px) {
  :root {
    font-size: 33px;
  }

  .gallery-img {
    height: 50vh;
  }
}

@media screen and (min-width: 555px) {
  :root {
    font-size: 34px;
  }
}

@media screen and (min-width: 570px) {
  :root {
    font-size: 35px;
  }
}

@media screen and (min-width: 585px) {
  :root {
    font-size: 36px;
  }

  .gallery-img {
    height: 54vh;
  }
}

@media screen and (min-width: 615px) {
  :root {
    font-size: 37px;
  }
}

@media screen and (min-width: 630px) {
  :root {
    font-size: 38px;
  }
  .gallery-img {
    height: 61vh;
  }
}

@media screen and (min-width: 700px) {
  .gallery-img {
    height: 70vh;
  }
}

@media screen and (min-width: 750px) {
  .gallery-img {
    height: 80vh;
  }
}

@media screen and (min-width: 800px) {
  .gallery-img {
    height: 90vh;
  }
}

@media screen and (min-width: 850px) {
  .gallery-img {
    height: 110vh;
  }
}

@media screen and (max-width: 1007px) {
  .main-screen {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 70%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s;
    z-index: 1;
  }

  .top-header {
    position: relative;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
  }

  body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
  }

  .top-header .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-inline-start: 0.7rem;
  }

  .nav-bar {
    position: absolute;
    flex-direction: column;
    top: 3.325rem;
    width: 100%;
    background-image: linear-gradient(274deg, var(--lg2), var(--lg1) 200%);
    font-size: 0.5em;
    transition: max-height 0.5s;
    opacity: 1;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transform-origin: top;
    justify-content: flex-end;
  }

  body.menu-open .nav-bar {
    max-height: 100vh;
    transform: translateY(0);
  }

  .nav-bar li {
    border-top: 1px solid var(--clr4);
  }

  .nav-bar a {
    padding: 1em;
  }
}

/*  desktop */
@media screen and (min-width: 1008px) {
  .top-header {
    height: 73px;
    margin: 15px 5px 0 5px;
    border-radius: 36.5px;
    position: relative;
  }

  .nav-bar > * {
    font-size: 0.5rem;
    padding-right: 100px;
    letter-spacing: 1px;
    font-size: 0.6rem;
  }

  .header-layout {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
  .header-container {
    width: 93%;
    position: absolute;
    bottom: 0px;
    left: 50px;
  }

  .editor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-text {
    font-size: 0.6rem;
    width: 1rem;
  }

  .editor-text {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .panel-style-text {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }

  .panel-sticker {
    margin-top: 0.481rem;
    padding: 0.3rem 1.4875rem 0.3rem 1.2375rem;
  }

  .gallery-img {
    column-gap: 1rem;
    row-gap: 0.6rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
    height: 80vh;
  }
}
