:root {
  /* colors */
  --lg1: #33be6d;
  --lg2: #0c98b9;
  --lg3: #f64f8b;
  --lg4: #f88558;
  --clr1: #383b42;
  --clr2: #22252c;
  --clr3: rgba(0, 0, 0, 0.15);
  --clr4: rgba(0, 0, 0, 0.14);
  --clr5: #fefefe;
}
/* linear-gradient(274deg,); */
/* linear-gradient(148deg,); */
/* ,  -24% */
