.editor {
  display: none;
}

.editor > * {
  margin: auto;
}

.editor-panel {
  max-width: 400px;
  background-color: rgba(235, 238, 243, 0.11);
  border-radius: 20px;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  text-align: center;
}

.editor-panel > *:not(:nth-of-type(3)) > * {
  cursor: pointer;
}

.editor-panel > *:nth-of-type(3) > * > * {
  cursor: pointer;
}

.editor-panel > *:not(:nth-of-type(3)) > *:hover {
  outline: 1px solid black;
}

.editor-panel > *:nth-of-type(3) > * > *:hover {
  outline: 1px solid black;
}

.editor-canvas canvas {
  border-radius: 28px;
  background-color: rgba(235, 238, 243, 0.11);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 2.625rem;
}

.editor-text {
  width: 100%;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
}

.editor-text input {
  margin: 0 0.0625rem 0.5375rem 0.0625rem;
  padding: 0.31rem 0.9375rem 0.31rem 0.9375rem;
  width: 100%;
  border-radius: 28px;
  box-shadow: 0.3px 5px 0 0 #bbc4d1, inset 0px 5px 0 0 #fff;
  background-color: #ebeef3;
  border: none;
  outline: none;
}

.editor-text input::placeholder {
  text-align: center;
  font-size: 0.5rem;
}

.panel-style-text {
  border-radius: 15px;
  background-color: #19a59f;
  margin-top: 0.96875rem;
  padding: 1rem;
  width: 100%;
}

.style-text-upper {
  margin-bottom: 0.5rem;
}

.style-text-upper > * {
  height: 1.2rem;
  width: 1.2rem;
}

.style-text-upper > * > * {
  height: 0.7rem;
  width: 0.7rem;
  font-size: 0.7rem;
}

.style-text-down {
  display: flex;
  justify-content: space-between;
}

.btn-text {
  font-size: 1.2rem;
  color: var(--clr5);
  border-radius: 10px;
  border: none;
}

.btn-panel {
  color: black;
  border-radius: 10px;
  border: none;
  box-shadow: 0.3px 5px 0 0 rgba(92, 92, 92, 0.55), inset 0px 5px 0 0 rgba(255, 255, 255, 0.58);
  background-color: #fff;
}

.btn-color {
  padding-top: 0.09375;
}

.btn-color i {
  padding-left: 0.25rem;
  padding-right: 0.2rem;
}

.btn-color span {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.color-picker {
  display: none;
}

.panel-text-state {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.panel-text-state > * {
  width: 1.3rem;
  font-size: 0.8rem;
}

.btn-up {
  box-shadow: 0.3px 5px 0 0 #706902, inset 0px 4px 0 0 rgba(255, 255, 255, 0.58);
  background-image: linear-gradient(322deg, #cad14d 5%, #b4bb28 50%, #b4bc17 115%);
}

.btn-down {
  box-shadow: 0.3px 5px 0 0 #734f0d, inset 0px 4px 0 0 rgba(255, 255, 255, 0.58);
  background-image: linear-gradient(322deg, #b16522 5%, #b87a33 50%, #c07015 115%);
}

.btn-next {
  box-shadow: 0.3px 5px 0 0 #048b97, inset 0px 4px 0 0 rgba(255, 255, 255, 0.58);
  background-image: linear-gradient(322deg, #66c4dc 5%, #40b1ce 50%, #0c98bb 115%);
}

.btn-add {
  box-shadow: 0.3px 5px 0 0 #015d33, inset 0px 4px 0 0 rgba(255, 255, 255, 0.58);
  background-image: linear-gradient(322deg, #42eb5c 5%, #37b34a 100%, #37b34a 115%);
}

.btn-delete {
  box-shadow: 0.3px 5px 0 0 #8c0606, inset 0px 4px 0 0 rgba(255, 255, 255, 0.58);
  background-image: linear-gradient(322deg, #cf1d37 115%, #cf1d37 114%, #f05036 -15%);
}

.style-text-impact {
  text-transform: uppercase;
  font-size: 0.6rem;
  width: 50%;
}

.span-stroke {
  text-decoration: underline;
}

btn-panel .style-text-down > *:not(:last-child) {
  margin-inline-end: 2rem;
}

.panel-sticker {
  width: 100%;
  position: relative;
  margin-top: 0.781rem;
  padding: 0.7rem 1.4875rem 0.7rem 1.2375rem;
  border-radius: 44.7px;
  background-image: linear-gradient(322deg, #8076fd 95%, #a08bff 25%);
}

.panel-sticker > * {
  font-size: 0.8rem;
}

.panel-sticker > i {
  position: absolute;
  font-size: 0.9rem;
  padding-top: 0.2rem;
}

.panel-sticker > i:nth-of-type(1) {
  left: 3%;
}

.panel-sticker > i:nth-of-type(2) {
  right: 3%;
}

.panel-get {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.panel-get > * > * {
  width: 100%;
  padding-top: 0.1875rem;
  padding-right: 0.1875rem;
  padding-left: 0.1875rem;
  padding-left: 0.1875rem;
  font-size: 0.6rem;
  border-radius: 15px;
  color: white;
  border: none;
}

.panel-get > * > *:nth-child(1) {
  margin-right: 0.3rem;
}

.panel-get > *:nth-child(1) > * {
  margin-bottom: 0.4rem;
}

.panel-get > * > i {
  padding-bottom: 0.125rem;
  padding-right: 0.125rem;
}

.file-input {
  box-shadow: 0.3px 3px 0 0 #661717, inset 0px 2px 0 0 #fff;
  background-color: rgb(137, 61, 61);
}

#image {
  display: none;
}

.btn-share {
  box-shadow: 0.3px 3px 0 0 #165c9c, inset 0px 2px 0 0 #fff;
  background-color: #1e7cd3;
}

.btn-save {
  box-shadow: 0.3px 3px 0 0 #2b239c, inset 0px 2px 0 0 #fff;
  background-color: #3537b3;
}

.link-download {
  box-shadow: 0.3px 3px 0 0 #632687, inset 0px 2px 0 0 #fff;
  background-color: #8f44bb;
}

[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}
