footer {
  position: absolute;
  text-align: center;
  bottom: -infinity;
  width: 100%;
}

footer div {
  margin: auto;
  font-size: 3rem;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
