.top-header {
  background-image: linear-gradient(274deg, var(--lg1), var(--lg2) 90%);
}

.top-header .nav-bar a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.4s;
}

.top-header .nav-bar a:hover {
  box-shadow: inset 0px -6px 0px var(--clr2);
}

.top-header button {
  width: 3.75rem;
  height: 3.75rem;
  color: var(--lg1);
  background-color: white;
  font-size: 2.4rem;
  border-radius: 50%;
  border: none;
  display: none;
}
